<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Leaderboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="leaderboard-page">
  <div class="background"></div>
  <div class="curved-text">
    <span>🌟L</span>
    <span>E</span>
    <span>A</span>
    <span>D</span>
    <span>E</span>
    <span>R</span>
    <span> </span>
    <span>B</span>
    <span>O</span>
    <span>A</span>
    <span>R</span>
    <span>D🌟</span>
  </div>
  <ion-list lines="full" class="leaderboard-list">
    <!-- <ion-header class="leaderboard-header">
      <ion-toolbar>
        <ion-title>Leader Board🌟</ion-title>
        
        
      </ion-toolbar>
    </ion-header> -->

    <ion-item *ngFor="let player of players" class="leaderboard-item">
      <ion-avatar slot="start">
        <img src="https://th.bing.com/th/id/OIP.WliSPBi-erj-ntxEVn9VeAHaHa?pid=ImgDet&w=179&h=179&c=7&dpr=1.3"
          alt="Avatar">
      </ion-avatar>
      <ion-label>{{ player.name }}</ion-label>
      <ion-badge>{{ player.score }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>